.table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: rgb(34, 33, 33);
}

.table tr {
  display: flex;
  justify-content: space-between;
}
.table td {
  padding: 0.4rem;
}

.table tr {
  background-color: rgb(237, 206, 241);
}

.table tr:nth-of-type(odd) {
  background-color: rgb(193, 193, 245);
}

.table__flag {
  height: 20px;
  width: 30px;
}
